footer.mt-auto.py-3.bg-light
	.container.d-flex.justify-content-between
		p
			| &copy; 2022 
			a(href='https://jacobasper.com/') Jacob Asper
			|  All Rights Reserved
		ul.mb-0
			li.list-inline-item
				a(href='https://github.com/20jasper/five-line-rhyme') GitHub Repo
			li.list-inline-item
				a(href='https://github.com/20jasper/five-line-rhyme/issues') Report an issue
			li.list-inline-item
				a(href='/privacy-policy.html') Privacy Policy
			li.list-inline-item
				a(href='/terms-of-use.html') Terms of Use