-const profilePicture = user.profile.picture.url
	if profilePicture
		img(src=profilePicture, class='profile', width='100', height='100')
	else
		//- img(src=user.gravatar(), class='profile', width='100', height='100')