extends layout

block content
	h1 Five Line Rhyme
	p.lead A collection of poems with only 5 lines
	hr
	.row
		each poem in poems
			.col-md-6
				h2= poem.title
				p= poem.body
				h4 User #{poem.user}
				a.btn.btn-primary(href='#', role='button') View details 