extends layout

block content
	h1 Five Line Rhyme
	p.lead A collection of poems with only 5 lines
	hr
	.row
		each poem in poems
			-const user = poem.user
			.col-sm-12.mb-3.pb-3.border-bottom.border-secondary
				include partials/poem	
				a.btn.btn-primary(href=`poems/`+poem._id, role='button') View details 