extends ../layout

block content
	.pb-2.mt-2.mb-4.border-bottom
		h3 Add poem

	form(method='POST' action="/poems")
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group.row
			label(class='col-md-2 col-form-label font-weight-bold', for='title') Title
			.col-md-8
				input.form-control(type='title', name='title', id='title', required)
		.form-group.row
			label(class='col-md-2 col-form-label font-weight-bold', for='body') Put your poem here
			.col-md-8
				textarea.form-control(name='content', id='content', autofocus="true", required)
		.form-group
			.offset-md-2.col-md-8.p-1
				br
				button.btn.btn-primary(type='submit') Post Poem
