extends ../layout

block content
	h1 Five Line Rhyme
	p.lead A collection of poems with only 5 lines
	hr
	.row
		.col-md-6
			include ../partials/poem

			.form-group.row
				.col-sm-2
					a.btn.btn-primary(href=`/`, role='button') Back

			include ../partials/deletePoemButton
